@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
.clickable:hover {
  opacity: 0.7;
}

.clickable {
  cursor: pointer;
}

.customSvgColor > path {
  fill: none;
}

div, a, span, p, pre, input {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

input:focus { outline: none; }